# Disable directory browsing
Options All -Indexes
# Error redirections
ErrorDocument 404 /?404
# Set default charset
AddDefaultCharset UTF-8
# Redirect to HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# Prevent access to .htaccess
<Files .htaccess>
order allow,deny
deny from all
</Files>